#CODEOWNERS 02.06.2024
* @fedKotikeD

#all translates
# *.ftl @zloy0cheburek
*.ftl @Not-Kluwen

#all textures
# **/Resources/Textures/** @ChubciYT

#all proto
# **/Resources/Prototypes/** @IceeeCrowww

#passports
**/Prototypes/BLUESPACE/passport.yml @Not-Kluwen
